body {
    background-color: rgb(167, 179, 250);
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    height: 90px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.lista {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.lista button {
    font-size: 16px;
    width: 40%;
    margin: 0px;
    cursor: pointer;

}